.cards {
  width: 100vw;
  margin-top: 20px;
}

.cards .content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .card {
  width: 40%;
  height: 480px;
  /* height: fit-content; */
  border-radius: 20px;
  padding-bottom: 20px;
  /* padding: 0px 20px 0px 20px; */
}

.content img {
  border-radius: 20px 20px 0px 0px;
}

.card img {
  width: 100%;
}

.title,
.desc {
  margin-left: 20px;
  padding: 5px 5px 0px 0px;
}

.cards .button {
  display: flex;
  flex-direction: row-reverse;
}

.cards button {
  border-radius: 50px;
}

.content .card {
  rotate: 0deg;
  transition: all 0.5s;
}

.content .card:hover {
  animation-name: rot;
  animation-duration: 1s;
}

@keyframes rot {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 25deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -25deg;
  }
  100% {
    rotate: 0deg;
  }
}

@font-face {
  font-family: card-flame;
  /* src: url("../public/flame-3-cufonfonts/FlameSans.otf"); */
  /* src: url("../public/flame-3-cufonfonts/FlameBold.otf"); */
  /* src: url("../public/flame-3-cufonfonts/FlameCondensed.otf"); */
  src: url("/public/flame-3-cufonfonts/FlameRegular.otf");
}

.card .title {
  font-family: "card-flame";
  font-size: 50px;
  font-weight: 100;
  color: #502314;
}

button:hover {
  animation-name: rot;
  animation-duration: 0.5s;
}

@keyframes rot {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0deg;
  }
}
