.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  transition: 3s;
}

.card {
  border-radius: 18px;
  margin-bottom: 50px;
}

.card_img {
  border-radius: 18px 18px 0px 0px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: translateY(10px);
}
